video {
    height: 400px;
    width: auto;
}

img {
    height: 60px;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    margin: 20px
}